Diagnostics:
  Suppress: module_odr_violation_function
---
CompileFlags:                     
  Add: [-fprebuilt-module-path=build\.gens\modules\windows\x64\release\rules\modules\cache\f416aa84] # Tweak the parse settings